<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/lib/jquery.js"></script>
  </head>

  <body>

    <div id="title">
      <div id="title-left-gutter"></div>
      <div id="title-title"> 
        <%= title %> color poll
      </div>
      <div id="title-user">
          <!-- user auth stuff here -->
      </div>
    </div>

    <div id="main">
        <div id="main-table">
          <!-- voting buttons here -->
        </div>
    </div>

  </body>


  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
  <script src="/javascripts/fire/init.js"></script>
  <script src="/javascripts/fire/core.js"></script>
  <script src="/javascripts/fire/auth.js"></script>


</html>
