<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/lib/jquery.js"></script>
  </head>

  <body>

    <div id="title">
        <%= title %> color poll
    </div>

    <div id="main">
        <div id="main-table">
          <!-- voting buttons here -->
        </div>
    </div>

  </body>


  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDopNHMqmNyfH7a1N8ShlmGuDk1WXe4hM0",
      authDomain: "sandbox-957b3.firebaseapp.com",
      databaseURL: "https://sandbox-957b3.firebaseio.com",
      projectId: "sandbox-957b3",
      storageBucket: "sandbox-957b3.appspot.com",
      messagingSenderId: "667435643685"
    };
    firebase.initializeApp(config);
  </script>
  <script src="/javascripts/fire/core.js"></script>


</html>
